

@{
    ViewBag.Title = "Survey";
}

<h2>Create Question</h2>


<form name="ProForm">

    
        <div class="form-group">
            <label>Question :</label>

            <input type="text" id="Text" class="form-control" />

        </div>

        <div>
            @Html.ActionLink("Create", "Addsurvey")
        </div>
   
    </form>